<!-- Наталія -->
<section class="about-sect-style">
  <div class="container about-container">
    <div class="about-text-container">
      <h1 class="about-title">
        <span class="about-span">Yacht Adventures</span> fleet is here to take
        you on the ultimate adventure. Each yacht is hand-picked for its
        comfort, style, and performance.
      </h1>
      <ul class="about-list">
        <li class="about-list-par">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.
        </li>
        <li class="about-list-par">
          No matter which yacht you choose, our experienced crew will ensure
          that your journey is smooth and enjoyable. Book now and get ready for
          an unforgettable adventure on the high seas.
        </li>
      </ul>
    </div>

    <ul class="about-list-yachts">
      <li class="about-list-card-1">
        <picture class="about-card-1">
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/about_big-yaht@1x.webp 1x,
              ./img/about/about_big-yaht@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about/about_middle-yaht-mob@1x.webp 1x,
              ./img/about/about_middle-yaht-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./img/about/about_big-yaht@1x.webp" alt="" />
        </picture>
      </li>

      <li class="about-list-card-2">
        <picture class="about-card-2">
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/about_middle-yaht@1x.webp  1x,
              ./img/about/about_middle-yahtb@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about/about_middle-yaht@1x.webp 1x,
              ./img/about/about_middle-yaht@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./img/about/about_middle-yaht@1x.webp" alt="" />
        </picture>
      </li>

      <li class="about-list-card-3">
        <picture class="about-card-3">
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/about_small-yaht@1x.webp 1x,
              ./img/about/about_small-yaht@1x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about/about_small-yaht@1x.webp 1x,
              ./img/about/about_small-yaht@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./img/about/about_small-yaht@1x.webp" alt="" />
        </picture>
      </li>

      <!-- <img
          class="about-card-1"
          srcset="
            ./img/about/about_middle-yaht-mob@1x.webp 1x,
            ./img/about/about_middle-yaht-mob@2x.webp 2x
          "
          src="./img/about/about_middle-yaht-mob@1x.webp"
          alt="Bow of the yacht with seats"
        /> -->

      <li class="about-list-card-2">
        <!-- <img
          width="335"
          height="289"
          class="about-card-2"
          srcset="
            ./img/about/about_middle-yaht@1x.webp 1x,
            ./img/about/about_middle-yaht@2x.webp 2x
          "
          src="./img/about/about_middle-yaht@1x.webp"
          alt="Yacht cockpit"
        /> -->
      </li>
      <li class="about-list-card-3">
        <!-- <img
          width="260"
          height="244"
          class="about-card-3"
          srcset="
            ./img/about/about_small-yaht@1x.webp 1x,
            ./img/about/about_small-yaht@2x.webp 2x
          "
          src="./img/about/about_small-yaht@1x.webp"
          alt="White yacht in the sea"
        /> -->
      </li>
    </ul>
  </div>
</section>
