<!-- Максим -->
<footer class="footer-yacht">
    <h1 class="logo-yacht">
        <p class="">yacht Adventures</p>
        
    </h1>
    <ul class="yacht-list list">
        <li class="about-yacht" link>About</li>
        <li class="about-yacht" link>Yachts</li>
        <li class="about-yacht" link>Reviews</li>
    </ul>
    <ul class="yacht-list list">
        <li class="about-yacht">We in social</li>
        <svg class="icons-soc">
            <use href="/src/img/icons.svg#icon-icon-youtube" width="40" height="40"></use>
        </svg>
        <svg class="icons-soc">   
            <use href="/src/img/icons.svg#icon-icon-instagram" width="40" height="40"></use>
        </svg> 
        <svg class="icons-soc">   
            <use href="/src/img/icons.svg#icon-icon-facebook" width="40" height="40"></use>
        </svg> 
    </ul>
    <ul>
        <li class="text-yacht">2023. Yacht Adventures</li>
        <li class="text-yacht">Privacy Police</li>
    </ul>

</footer>