<!-- Максим -->
<footer class="footer-yacht">
    <div class="container footer-container">
        <div class="footer-logo">
            <div class="footer-logo-container">
                <img class="footer-logo-img" src="./img/logo@1x.webp" width="25" height="25" alt="boat-icon">
                <a href="" class="footer-logo-link">yacht Adventures</a>
            </div>


            <div class="footer-menu">
                <ul class="footer-menu-list">
                    <li class="about-yacht link"><a href="">About</a></li>
                    <li class="about-yacht link"><a href="">Yachts</a></li>
                    <li class="about-yacht link"><a href="">Reviews</a></li>
                </ul>
            </div>
            <p class="footer-soc-title">We in social</p>

        </div>
        <div class="footer-soc-container">
            <ul class="icons-list">
                <li>
                    <svg class="icons-soc" width="40" height="40">
                        <use href="./img/icons.svg#icon-icon-instagram"></use>
                    </svg>
                </li>
                <li>
                    <svg class="icons-soc" width="40" height="40">
                        <use href="./img/icons.svg#icon-icon-facebook"></use>
                    </svg>
                </li>
                <li>
                    <svg class="icons-soc" width="40" height="40">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <ul class="footer-text-list">
            <li class="footer-text-item">2023. Yacht Adventures</li>
            <li class="footer-text-item">Privacy Police</li>
        </ul>
    </div>
    
</footer>