<!-- Максим -->
<footer class="footer-yacht">
    <div class="container footer-container">
        <div class="logo-footer">
            <div class="logo-container">   
                <img src="../img/logo@1x.webp" width="20" height="23" alt="boat-icon">
                <a href="" class="logo-yacht">yacht Adventures</a>
            </div>


            <div class="yacht-list-container">
                <ul class="yacht-list list">
                    <li class="about-yacht link">About</li>
                    <li class="about-yacht link">Yachts</li>
                    <li class="about-yacht link">Reviews</li>
                </ul>
            </div>
            <p class="item-yacht">We in social</p>
            
        </div>
        <div class="soc-container">
                
                
            <ul class="icons-list">
            
                <li>
                    <svg class="icons-soc" width="40" height="40">
                        <use href="../img/icons.svg#icon-icon-instagram" ></use>
                    </svg>
                </li>
                <li>
                    <svg class="icons-soc" width="40" height="40">
                        <use href="../img/icons.svg#icon-icon-facebook" ></use>
                    </svg>
                </li>
                <li>
                    <svg class="icons-soc" width="40" height="40">
                        <use href="../img/icons.svg#icon-icon-youtube" ></use>
                    </svg>
                </li>
            </ul>
        </div>
            
        <div class="subtitle-text">
            <ul class="text-list">
                <li class="text-yacht">2023. Yacht Adventures</li>
                <li class="text-yacht">Privacy Police</li>
            </ul>
        </div>
    </div>
</footer>