<!-- Богдан -->
<section class="hero-section ">
    <div class="hero-container container">
        <div class="hero-block-wrap">
            <h1 class="hero-title">Explore the High Seas with <span class="hero-luxury">Our Luxury Yacht</span> Rentals
            </h1>
            <p class="hero-text">Experience the freedom and luxury of yachting on the open seas. Choose from our
                top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and
                state-of-the-art amenities.</p>
            <div class="hero-section-btn">
                <button type="button" class="hero-button">Get Started</button>
                <a class="hero-button-Expl" href="#services">Explore</a>
            </div>
        </div>
        <div class="hero-yacht">
            <ul class="hero-avatar-list">
                <li class="hero-avatar-item">
                    <img src="./img/hero/hero_avatar_01@1x.webp"
                        srcset="./img/hero/hero_avatar_01@2x.webp 2x, ./img/hero/hero_avatar_01@1x.webp 1x" width="50"
                        height="50" alt="avatar_rent" class="hero-img">
                </li>
                <li class="hero-avatar-item">
                    <img src="./img/hero/hero_avatar_02@1x.webp"
                        srcset="./img/hero/hero_avatar_02@2x.webp 2x, ./img/hero/hero_avatar_02@1x.webp 1x" width="50"
                        height="50" alt="avatar_rent" class="hero-img">
                </li>
                <li class="hero-avatar-item">
                    <img src="./img/hero/hero_avatar_03@1x.webp"
                        srcset="./img/hero/hero_avatar_03@2x.webp 2x, ./img/hero/hero_avatar_03@1x.webp 1x" width="50"
                        height="50" alt="avatar_rent" class="hero-img">
                </li>
            </ul>
            <h3 class="hero-clients-title">Our Clients</h3>
            <img src="./img/hero/hero_yaht@1x.webp" srcset="./img/hero/hero_yaht@2x.webp 2x,
                ./img/hero/hero_yaht@1x.webp 1x
                " width="287" height="167" alt="yacht" class="hero-yacht-img">
            <img src="./img/hero/hero_man@1x.webp" srcset="./img/hero/hero_man@2x.webp 2x,
                ./img/hero/hero_man@1x.webp 1x
                " width="133" height="133" alt="man" class="hero-man-img">

            <div class="hero-price">
                <p class="hero-price-money">$12M</p>
                <p class="hero-price-text">Book now and make your dream yacht rental a reality</p>
            </div>
        </div>
    </div>
</section>