<!-- Марія -->
<div class="shadow">
    
</div>

<div class="rent-backdrop rent-is-hidden" data-modal>
      <div class="rent-modal-window rent-container">
      
      <button  class="rent-modal-button" data-modal-close type="button">
        
        <svg  class="rent-svg"
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M18 6L6 18" stroke="#F6F5EF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 6L18 18" stroke="#F6F5EF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

      </button>

      
      <img class="rent-img-yaht rent-shadow" 
      srcset="../img/rent/rent_pop-up@1x.webp , ../img/rent/rent_pop-up@2x.webp"
      src="../img/rent/rent_pop-up@1x.webp"
      alt="rent-yaht-photo" 
      width="338"
      height="198" />

    <div class="rent-text">
      <h3 class="rent-gratitude">Thank you</h3>
      <p class="rent-gratitude-paragraph">Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in touch shortly to confirm your reservation and provide any additional information or assistance you may need.</p>
    </div>

      </div>
  </div>