<!-- Дмитро -->
<section>
  <div class="container">
    <div class="rev-title-div">
      <h2 class="rev-title">
        <span class="rev-span">Yacht Adventures</span> take pride in providing
        the best possible service and experience to our customers
      </h2>
      <p class="rev-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>

    <ul class="rev-list">
      <li class="rev-card">
        <img
          class="rev-img"
          src="./img/reviews/reviews_avatar_01@1x.webp"
          alt="John Wax"
          width="96"
          height="96"
        />
        <h3 class="rev-list-title">John Wax</h3>
        <p class="rev-review-paragr">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="rev-card">
        <img
          class="rev-img"
          src="./img/reviews/reviews_avatar_02@1x.webp"
          alt="Victoria Romashenko"
          width="96"
          height="96"
        />
        <h3 class="rev-list-title">Victoria Romashenko</h3>
        <p class="rev-review-paragr">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="rev-card">
        <img
          class="rev-img"
          src="../img/reviews/reviews_avatar_03@1x.webp"
          alt="Victoria Romashenko"
          width="96"
          height="96"
        />
        <h3 class="rev-list-title">Ihor Trachuk</h3>
        <p class="rev-review-paragr">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>

    <div class="rev-button-div">
      <button class="rev-button" type="button"></button>
    </div>
  </div>
</section>
