<!-- Дмитро -->
<link rel="stylesheet" href="/src/css/reviews.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<section class="reviews">
    <div class="container">
        <div class="main-div">
        <div class="rev-wrap">
        <h3 class="reviews-title">
            <span>Yacht Adventures</span> take pride in providing the best possible service and experience to our customers
        </h3>
        </div>
        <div class="rev-text">
        <p class="reviews-text">
            Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.
        </p>
        </div>
    </div>
    <div class="reviews-list">
        <div class="reviews-item">
          <img src="/src/img/reviews/reviews_avatar_01@1x.webp" alt="John Wax photo" class="reviews-image" />
          <h3 class="reviews-subtitle">
            John Wax
          </h3>
          <p class="reviews-item-text">I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.
          </p>
        </div>
        <div class="reviews-item">
          <img src="/src/img/reviews/reviews_avatar_02@1x.webp" alt="Victoria Romashenko photo" class="reviews-image" />
          <h3 class="reviews-subtitle">
            Victoria Romashenko
          </h3>
          <p class="reviews-item-text">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly.</p>
        </div>
        <div class="reviews-item">
          <img src="/src/img/reviews/reviews_avatar_03@1x.webp" alt="Ihor Trachuk photo" class="reviews-image" />
          <h3 class="reviews-subtitle">
            Ihor Trachuk
          </h3>
          <p class="reviews-item-text">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!</p>
        </div>
      </div>
    </div>

    <div class="scroll-to-top" onclick="scrollToTop()">
        <img src="/src/img/reviews/reviews_arrow-up.webp" alt="Вгору">
    </div>




    
</section>

