<!-- Дмитро -->
<section class="rev" id="reviews">
  <div class="container rev-container">
      <div class="rev-title-div">
          <h2 class="rev-title">
              <span class="rev-span">Yacht Adventures</span> take pride in providing
              the best possible service and experience to our customers
          </h2>
          <p class="rev-text">
              Our customers have enjoyed unforgettable moments on our yachts. Don't
              just take our word for it - read on to find out what they have to say
              about their journey with us.
          </p>
      </div>

      <ul class="rev-list">
          <li class="rev-card">
              <div class="rev-img-wrap">
                  <picture class="rev-img">
                      <source media="(min-width: 768px)" srcset="
              ./img/reviews/reveiws-avatar-01@1x.webp 1x,
              ./img/reviews/reveiws-avatar-01@2x.webp 2x
            " type="image/webp" />
                      <source media="(max-width: 767px)" srcset="
          ./img/reviews/reveiws-avatar-mob-01@1x.webp 1x,
          ./img/reviews/reveiws-avatar-mob-01@2x.webp 2x
            " type="image/webp" />
                      <img src="./img/reviews/reveiws-avatar-01@1x.webp" alt="Avatar" width="56" height="56" />
                  </picture>
              </div>
              <h3 class="rev-list-title">John Wax</h3>
              <p class="rev-review-paragr">
                  I rented the Lagoon 620 with my family for a week-long vacation and it
                  was the best decision ever. The yacht was spacious, comfortable, and
                  luxurious, and the crew took care of everything.
              </p>
          </li>
          <li class="rev-card">
              <div class="rev-img-wrap">
                  <picture class="rev-img">
                      <source media="(min-width: 768px)" srcset="
              ./img/reviews/reveiws-avatar-02@1x.webp 1x,
              ./img/reviews/reveiws-avatar-02@2x.webp 2x
            " type="image/webp" />
                      <source media="(max-width: 767px)" srcset="
          ./img/reviews/reveiws-avatar-mob-02@1x.webp 1x,
          ./img/reviews/reveiws-avatar-mob-02@2x.webp 2x
            " type="image/webp" />
                      <img src="./img/reviews/reveiws-avatar-02@1x.webp" alt="Avatar" width="56" height="56" />
                  </picture>
              </div>
              <h3 class="rev-list-title">Victoria Romashenko</h3>
              <p class="rev-review-paragr">
                  The Sunseeker Manhattan 66 was the perfect choice for our romantic
                  getaway. The yacht was beautifully designed, with all the amenities we
                  needed, and the crew was attentive and friendly.
              </p>
          </li>
          <li class="rev-card">
              <div class="rev-img-wrap">
                  <picture class="rev-img">
                      <source media="(min-width: 768px)" srcset="
              ./img/reviews/reveiws-avatar-03@1x.webp 1x,
              ./img/reviews/reveiws-avatar-03@2x.webp 2x
            " type="image/webp" />
                      <source media="(max-width: 767px)" srcset="
          ./img/reviews/reveiws-avatar-mob-03@1x.webp 1x,
          ./img/reviews/reveiws-avatar-mob-03@2x.webp 2x
            " type="image/webp" />
                      <img src="./img/reviews/reveiws-avatar-03@1x.webp" alt="Avatar" width="56" height="56" />
                  </picture>
              </div>
              <h3 class="rev-list-title">Ihor Trachuk</h3>
              <p class="rev-review-paragr">
                  The Azimut 80 was the most luxurious yacht I've ever been on. The
                  cabins were spacious and elegant, and the outdoor areas were perfect
                  for relaxing and entertaining. Worth every penny!
              </p>
          </li>
      </ul>
<button id="back-to-up" class="rev-button is-hidden" type="button">
          <svg class="rent-btn-icon" width="16" height="30">
              <use href="./img/icons.svg#icon-up"></use>
          </svg>
      </button>
  </div>
</section>
