<section id="services" class="services-section">
    <div class="container">
        <h2 hidden>Services</h2>


        <ul class="services-list list">
            <li class="services-list-item diving">
                <img src="./img/services/services_01@1x.webp"
                    srcset="./img/services/services_01@1x.webp 1x, ./img/services/services_01@2x.webp 2x" alt="diving"
                    class="services-img" />
                <button class="services-button" type="button">Diving</button>
            </li>
            <li class="services-list-item fishing">
                <img src="./img/services/services_02@2x.webp"
                    srcset="./img/services/services_02@2x.webp 1x, ./img/services/services_02@2x.webp 2x" alt="fishing"
                    class="services-img" />
                <button class="services-button" type="button">Fishing</button>
            </li>
            <li class="services-list-item sunbathing">
                <img src="./img/services/services_03@1x.webp"
                    srcset="./img/services/services_03@1x.webp 1x, ./img/services/services_03@2x.webp 2x"
                    alt="sunbathing" class="services-img" />
                <button class="services-button" type="button">Sunbathing</button>
            </li>
        </ul>
    </div>
</section>