<!-- Володимир -->
<section class="yacht-section">
    <div class="container yacht-conteiner">
        <div class="yacht-title-block">
            <h2 class="yacht-title">Choose your dream yacht and sail away into the sunset</h2>
            <a  href="#rent-section">
                <button class="yacht-button" href="#rent-section" type="button">Yacht rental</button>
            </a>            
            <div class="yacht-blur-1 yachts-white-spot"></div>
            <div class="yacht-blur-2 yachts-white-spot"></div>
        </div>
        <!-- <div class="yacht-spiral block">    

        </div> -->  
        
        

        <svg class="yacht-spiral" width="1509" height="1611">
            <use href="../img/icons.svg#icon-Mask-group"></use>
        </svg>






        

        <div class="yacht-swiper">
            <div class="yacht-swiper-wrapper">
                <div class="yacht-card">
                    <img class="yacht-card-image" src="../img/yachts/yachts_img_1x_01.webp"
                        srcset="../img/yachts/yachts_img_1x_01.webp, ../img/yachts/yachts_img_2x_01.webp"
                        alt="white yacht model arrow">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">Arrow</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>48m(155ft)</li>
                            <li>Admiral</li>
                            <li>2021</li>
                            <li>11 in 5 cabins</li>
                            <li>€33,500,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-card">
                    <img src="../img/yachts/yachts_img_1x_02.webp"
                        srcset="../img/yachts/yachts_img_1x_02.webp, ../img/yachts/yachts_img_2x_02.webp"
                        alt="white yacht model BENETTI OASIS">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">BENETTI OASIS 40M BO122</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>41m (133ft)</li>
                            <li>Benetti</li>
                            <li>2025</li>
                            <li>10 in 5 cabins</li>
                            <li>€23,210,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-card">
                    <img src="../img/yachts/yachts_img_1x_03.webp"
                        srcset="../img/yachts/yachts_img_1x_03.webp, ../img/yachts/yachts_img_2x_03.webp"
                        alt="white yacht model BELLE ANNA">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">BELLE ANNA</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>50m(155ft)</li>
                            <li>ISA</li>
                            <li>2012</li>
                            <li>12 in 6 cabins</li>
                            <li>€21,000,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-card">
                    <img src="../img/yachts/yachts_img_1x_04.webp"
                        srcset="../img/yachts/yachts_img_1x_04.webp, ../img/yachts/yachts_img_2x_04.webp"
                        alt="yacht with the sails model Ellen">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">Ellen</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>40m (132ft)</li>
                            <li>Perini Navi</li>
                            <li>2001 / 2016 (refitted)</li>
                            <li>9 in 4 cabins</li>
                            <li>€9,300,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-card">
                    <img src="../img/yachts/yachts_img_1x_05.webp"
                        srcset="../img/yachts/yachts_img_1x_05.webp, ../img/yachts/yachts_img_2x_05.webp"
                        alt="white yachy model MIRAGE 401">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">MIRAGE 401</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>38m (125ft)</li>
                            <li>Gianetti Custom Yachts</li>
                            <li>2024</li>
                            <li>10 in 5 cabins</li>
                            <li>€13,500,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-card">
                    <img src="../img/yachts/yachts_img_1x_06.webp"
                        srcset="../img/yachts/yachts_img_1x_06.webp, ../img/yachts/yachts_img_2x_06.webp"
                        alt="white yacht model KING">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">KING</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>33m (109ft)</li>
                            <li>Overmarine</li>
                            <li>2004 / 2018 (refitted)</li>
                            <li>9 in 4 cabins</li>
                            <li>€1,850,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-card">
                    <img src="../img/yachts/yachts_img_1x_07.webp"
                        srcset="../img/yachts/yachts_img_1x_07.webp, ../img/yachts/yachts_img_2x_07.webp"
                        alt="white yacht model SALT">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">SALT</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>32m (105ft)</li>
                            <li>SanLorenzo</li>
                            <li>2019</li>
                            <li>11 in 5 cabins</li>
                            <li>€7,800,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-card">
                    <img src="../img/yachts/yachts_img_1x_08.webp"
                        srcset="../img/yachts/yachts_img_1x_08.webp, ../img/yachts/yachts_img_2x_08.webp"
                        alt="white yacht model STORM">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">STORM</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>32m (103ft)</li>
                            <li>Overmarine</li>
                            <li>2005 / 2022 (refitted)</li>
                            <li>9 in 4 cabins</li>
                            <li>€2,900,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-card">
                    <img src="../img/yachts/yachts_img_1x_09.webp"
                        srcset="../img/yachts/yachts_img_1x_09.webp, ../img/yachts/yachts_img_2x_09.webp"
                        alt="white yacht model COLLU">
                    <div class="yacht-card-title-row">
                        <h3 class="yachts-card-title">COLLU</h3>
                        <p class="yachts-card-status">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-card-dates">
                        <ul class="yacht-card-char">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="yacht-card-value">
                            <li>29m (96ft)</li>
                            <li>Ferretti</li>
                            <li>2014</li>
                            <li>10 in 5 cabins</li>
                            <li>$4,300,000</li>
                        </ul>
                    </div>
                </div>
                <div class="yacht-slider-button-container">
                    <button class="yacht-slider-button" type="button">
                        <svg class="yacht-slider-arrow">
                            <use href="../img/icons.svg#icon-slider-prev"></use>
                        </svg>
                    </button>
                
                    <button class="yacht-slider-button" type="button">
                        <svg class="yacht-slider-arrow">
                            <use href="../img/icons.svg#icon-slider-next"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>