<!-- Володимир -->
<section class="yacht-section">
    <div class="container">
        <div>
            <h2 class="yacht-title">Choose your dream yacht and sail away into the sunset</h2>
            <button class="yacht-button" type="button">Yacht rental</button>
        </div>
        <div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_01.webp"
                    srcset="../img/yachts/yachts_img_1x_01.webp, ../img/yachts/yachts_img_2x_01.webp"
                    alt="white yacht model arrow">
                <h3>Arrow</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>48m(155ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>Admiral</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2021</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>11 in 5 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>€33,500,000</td>
                    </tr>
                </table>
            </div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_02.webp"
                    srcset="../img/yachts/yachts_img_1x_02.webp, ../img/yachts/yachts_img_2x_02.webp"
                    alt="white yacht model BENETTI OASIS">
                <h3>BENETTI OASIS 40M BO122</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>41m (133ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>Benetti</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2025</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>10 in 5 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>€23,210,000</td>
                    </tr>
                </table>
            </div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_03.webp"
                    srcset="../img/yachts/yachts_img_1x_03.webp, ../img/yachts/yachts_img_2x_03.webp"
                    alt="white yacht model BELLE ANNA">
                <h3>BELLE ANNA</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>50m(155ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>ISA</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2012</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>12 in 6 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>€21,000,000</td>
                    </tr>
                </table>
            </div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_04.webp"
                    srcset="../img/yachts/yachts_img_1x_04.webp, ../img/yachts/yachts_img_2x_04.webp"
                    alt="yacht with the sails model Ellen">
                <h3>Ellen</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>40m (132ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>Perini Navi</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2001 / 2016 (refitted)</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>9 in 4 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>€9,300,000</td>
                    </tr>
                </table>
            </div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_05.webp"
                    srcset="../img/yachts/yachts_img_1x_05.webp, ../img/yachts/yachts_img_2x_05.webp"
                    alt="white yachy model MIRAGE 401">
                <h3>MIRAGE 401</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>38m (125ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>Gianetti Custom Yachts</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2024</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>10 in 5 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>€13,500,000</td>
                    </tr>
                </table>
            </div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_06.webp"
                    srcset="../img/yachts/yachts_img_1x_06.webp, ../img/yachts/yachts_img_2x_06.webp"
                    alt="white yacht model KING">
                <h3>KING</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>33m (109ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>Overmarine</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2004 / 2018 (refitted)</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>9 in 4 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>€1,850,000</td>
                    </tr>
                </table>
            </div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_07.webp"
                    srcset="../img/yachts/yachts_img_1x_07.webp, ../img/yachts/yachts_img_2x_07.webp"
                    alt="white yacht model SALT">
                <h3>SALT</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>32m (105ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>SanLorenzo</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2019</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>11 in 5 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>€7,800,000</td>
                    </tr>
                </table>
            </div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_08.webp"
                    srcset="../img/yachts/yachts_img_1x_08.webp, ../img/yachts/yachts_img_2x_08.webp"
                    alt="white yacht model STORM">
                <h3>STORM</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>32m (103ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>Overmarine</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2005 / 2022 (refitted)</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>9 in 4 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>€2,900,000</td>
                    </tr>
                </table>
            </div>
            <div class="yacht-card">
                <img src="../img/yachts/yachts_img_1x_09.webp"
                    srcset="../img/yachts/yachts_img_1x_09.webp, ../img/yachts/yachts_img_2x_09.webp"
                    alt="white yacht model COLLU">
                <h3>COLLU</h3>
                <p>LUXURY YAHTS</p>
                <table>
                    <tr>
                        <td>LENGTH</td>
                        <td>29m (96ft)</td>
                    </tr>
                    <tr>
                        <td>BUILDER</td>
                        <td>Ferretti</td>
                    </tr>
                    <tr>
                        <td>BUILT</td>
                        <td>2014</td>
                    </tr>
                    <tr>
                        <td>GUESTS</td>
                        <td>10 in 5 cabins</td>
                    </tr>
                    <tr>
                        <td>PRICE</td>
                        <td>$4,300,000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>