/* Наталія */
.about-title {
    color: currentColor;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .about-title {
        font-size: 32px;
        letter-spacing: -1.44px;
        margin-bottom: 32px;
        max-width: 514px;
    }
}

.about-span {
    color: var(--light-green);
    font-style: italic;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;
}

@media only screen and (min-width: 768px) {
    .about-span {
        font-size: 32px;
        letter-spacing: -1.44px;
    }
}

.about-list {
    display: flex;
    gap: 14px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .about-list {
        display: flex;
        gap: 32px;
        margin-bottom: 64px;
        justify-content: flex-end;
    }
}

.about-list-par {
    line-height: 1.4;
    letter-spacing: -0.28px;
}

@media only screen and (min-width: 768px) {
    .about-list-par {
        max-width: 185px;
        font-size: 16px;
        letter-spacing: -0.32px;
    }
}

@media only screen and (min-width: 1280px) {
    .about-text-container {
        display: flex;
        justify-content: space-between;
    }
}

.about-list-yachts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    padding-bottom: 146px;
}

@media only screen and (min-width: 768px) {
    .about-list-yachts {
        max-width: 704px;
        gap: 32px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 83px;
    }
}

@media only screen and (min-width: 1280px) {
    .about-list-yachts {
        max-width: 873px;
        padding-bottom: 164px;
        margin-left: 0;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px) {
    .about-list-card-1 {
        width: 704px;
        height: 631px;
    }
}

@media only screen and (min-width: 1280px) {
    .about-list-card-1 {
        width: 533px;
        height: 473px;
        transform: translateX(340px);
    }
}

@media only screen and (min-width: 768px) {
    .about-list-card-2 {
        width: 308px;
    }
}

@media only screen and (min-width: 1280px) {
    .about-list-card-2 {
        position: absolute;
        bottom: 95px;
    }
}

.about-list-card-3 {
    width: 260px;
    height: 244px;
    position: absolute;
    bottom: -122px;
    right: 0;
}

@media only screen and (min-width: 768px) {
    .about-list-card-3 {
        bottom: -70px;
        right: 104px;
    }
}

@media only screen and (min-width: 1280px) {
    .about-list-card-3 {
        bottom: -112px;
        left: 340px;
    }
}