/* Максим */
:root {
    /* main color */
    --dark-bg: #11131F;
    --white: #F6F5EF;
    --light-green:  #93ABAE;
    --dark-bg-elements: #1F212D;
    --linear-green: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
  }
  .footer-yacht {
    background-color: var(--dark-bg);
  }
.footer-container {
padding-top: 64px;
border-top: 1px solid rgba(246, 245, 239, 0.20);

}
.yacht-list {
    margin: 0 auto;
}
.logo-yacht {
    color: var(--white, #c2c2c2);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%; /* 21.24px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-left: 3px;
}
.section-list {
    display: flex;
    justify-content: center;
    
}
.logo-footer {
    display: flex;
    position: absolute;

}
.text-list {
    display: flex;
    justify-content: center;
    padding-top: 186px;
}
/* .logo-icon {
    background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
} */
.yacht-list {
    color: #F6F5EF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 118%; /* 16.52px */
letter-spacing: 0.42px;
text-transform: uppercase;
display: flex;
gap: 24px;
}
.icons-soc {
    border-radius: 6px;
border: 1px solid rgba(246, 245, 239, 0.50);
}
.item-soc {
display: flex;
justify-content: right;
}

.text-yacht{
    color: rgba(246, 245, 239, 0.50);
text-align: center;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 118%; /* 16.52px */
letter-spacing: 0.42px;
margin-right: 32px;
}
.about-yacht {
    color: var(--white, #F6F5EF);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 15.4px */
text-transform: uppercase;

}
.item-soc-yacht {
    display: flex;
    justify-content: right;
}
.item-yacht {
    color: #F6F5EF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: flex;
}