/* Богдан */
.hero-section {
 
}
.hero-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hero-button{
    border: none;
    border-radius: 60px;
background: var(--light-green, #93ABAE);
color: var(--white, #F6F5EF);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 15.4px */
letter-spacing: -0.63px;
padding: 14px 28px;

}
.hero-section-btn{
    margin-bottom: 40px;
}
.hero-button-Expl{
    border: medium none;
  background-image: none; 
  background: transparent;
  background-color: transparent;

    border-radius: 60px;
    border: 1px solid var(--white, #F6F5EF);
    padding: 14px 28px;
    color: var(--white, #F6F5EF);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 15.4px */
letter-spacing: -0.63px;
}
.hero-title {
}
.hero-luxury{
    background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text {
    margin-bottom: 10px;
    font-size: 14px;

font-weight: 400;
line-height: 140%; /* 19.6px */
letter-spacing: -0.28px;
}
.hero-yacht {
    min-width: 320px;
    max-width: 462px;
    height: 651px;
    background-image: url(/img/hero/hero-bg-mob@1x.webp);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    position: relative;
    padding-left: 22px; ;
}
.hero-yacht-client{
    display: flex;
    position: relative;
}
.hero-img{
    width: 48px;
    position: absolute;
}
.hero-img:nth-child(1) {
    top: 22px;
    z-index: 3;
  }
  .hero-img:nth-child(2) {
    top: 22px;
    left: 41px;
    z-index: 2;
  }
  .hero-img:nth-child(3) {
    top: 22px;
    left: 85px;
    z-index: 1;
  }
  .hero-bg-mob{
    position: absolute;
    z-index: -1;
  }
  .hero-yacht-img{
    margin-top: 52px;
    
    width: 287px;
    height: 167px;
  }
  .hero-man-img{
    top: 42px;
    left: 216px;
    position: absolute;
    width: 133px;
    height: 133px;
  }
  
.hero-clients-title{
    margin-top: 80px;
    color: #11131F;
font-size: 14px;
font-weight: 700;
line-height: 110%; /* 15.4px */
letter-spacing: 0.56px;
}
.hero-price {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 14px;
}
.hero-price-money {
    color: #11131F;
font-family: DM Sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 52.8px */
letter-spacing: -2.16px;
text-transform: uppercase;
}
.hero-price-text {
    color: #11131F;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
letter-spacing: -0.63px;
}