/* Марія */
.rent-container{
padding: 40px 24px 40px 24px;


}


.rent-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 335px;
    height: 396px;
    border-radius: 40px;
    background: #1F212D;
    z-index: 999;
    opacity: 100%;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);


      
}


.rent-backdrop .rent-is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
      }



.rent-modal-window {
    width: 335px;
    height: 396px;
    border-radius: 20px;
background: #1F212D;
}


.rent-modal-button {
    padding: 0;
    position: absolute;
    align-items: center;
   
    background-color: #1F212D;
    width: 20px;
    height: 20px;
    
    border: none;
    top: 14px;
    right: 14px;
    
    
}


.rent-svg {
 width: 20px;
height: 20px;
flex-shrink: 0;

}



.shadow {
    top: 32px;
    left: 100px;
    position: absolute;
    width: 147px;
    height: 147px;
    transform: rotate(45deg);
    border-radius: 265px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    filter: blur(100px);
    z-index: 1000;
}

.rent-img-yaht {
    width: 287px;
height: 149px;
flex-shrink: 0;
/* padding-top: 40px;
padding-left: 24px; */
display: block;

}



.rent-gratitude {
    color:  #F6F5EF;
    font-family: DM Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 120%; 
letter-spacing: -1.08px;
margin-top: 24px;
}


.rent-gratitude-paragraph {
    color:  #F6F5EF;
    font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
letter-spacing: -0.28px;
margin-top: 16px;

}

@media only screen and (min-width: 768px) {
    .shadow {
        top: 56px;
        left: 140px;
        position: absolute;
        width: 265px;
        height: 265px;
        transform: rotate(45deg);
        border-radius: 265px;
        opacity: 0.6000000238418579;
        background: #91AFBA;
        filter: blur(100px);
        z-index: 1000;
    }
.rent-container{
    padding-top: 97px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 64px;
}


.rent-modal-window {

    width: 570px;
    height: 522px;
    border-radius: 40px;
}

.rent-modal-button  {
    
    top: 32px;
    left: 524px;

}


.rent-text{
    
    /* padding-left: 64px; */
    /* padding-top: 21px; */

    
    
    
}

.rent-img-yaht {
    width: 338px;
height: 198px;
margin: auto;

}

.rent-gratitude{
    font-size: 32px;
    margin-top: 21px;
}
.rent-gratitude-paragraph{
    font-size: 16px;
}
}


@media only screen and (min-width: 1280px) {
    .rent-modal-window {

         width: 570px;
        height: 522px;
        border-radius: 40px; 
    }
    
    .rent-modal-button  {
        
        top: 32px;
        left: 524px;
    }
    
    .rent-container{
        padding-top: 97px;
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 64px;
    }
   
    
    .rent-img-yaht {
    width: 338px;
    height: 198px;
    /* padding-top: 97px;
    padding-left: 116px;  */
    }
    
    .rent-gratitude{
    font-size: 32px; 
    }
    .rent-gratitude-paragraph{
       font-size: 16px;  
    }

    
}