/* Дмитро */
.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

:root {
    /* main color */
    --dark-bg: #11131F;
    --white: #F6F5EF;
    --light-green: #93ABAE;
    --dark-bg-elements: #1F212D;
    --linear-green: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
}

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background-color: var(--dark-bg);
}

.rev-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;
    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
.rev-title {
        font-size: 32px;
        letter-spacing: -1.44px;
        margin-bottom: 32px;
        width: 497px;
    }
}

.rev-span {
    font-style: italic;
    color: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;
}

@media only screen and (min-width: 768px) {
.rev-span {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -1.44px;
    }
}

.rev-text {
    line-height: 1.4;
    letter-spacing: -0.28px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
.rev-text {
        width: 273px;
        line-height: 1.4;
        font-size: 16px;
        letter-spacing: -0.32px;
        margin-bottom: 64px;
        margin-right: 0;
        margin-left: auto;
    }
}


.rev-card {
    padding: 6px 18px 24px 18px;
    padding-top: 6px;
    border-radius: 24px;
    background-color: var(--dark-bg-elements);
    margin-bottom: 43px;
    /* max-width: 334px; */
    /* min-width: 266px; */
    min-height: 208px;
}

@media only screen and (min-width: 768px) {
   .rev-card{
    width: calc((100% - 16px)/2);
    height: 266px;
    padding: 6px 12px 24px 12px;
   }
}

@media only screen and (min-width: 1280px) {
.rev-card {
    width: calc((100% - 64px)/3);
    height: 282px;
    padding: 6px 32px 32px 32px;
    }
}

@media only screen and (min-width: 768px) {
   .rev-list {
    display: flex;
    flex-wrap: wrap;
    gap:16px;
   }
}

@media only screen and (min-width: 1280px) {
.rev-list {
        flex-wrap: nowrap;
        gap: 32px;
    }
}

.rev-img {
    width: 96px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
}

.rev-list-title {
    margin-bottom: 8px;
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.72px;
}

@media only screen and (min-width: 768px) {
.rev-list-title {
        margin-bottom: 8px;
        text-align: center;

        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.81px;
    }
}

.rev-review-paragr{
    max-width: 100%;
    color: rgba(246, 245, 239, 0.50);
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.24px;
    /* margin-left: 20px;
    margin-right: 20px; */
    /* margin-left: auto;
    margin-right: auto; */
}

@media only screen and (min-width: 768px) {
.rev-review-paragr {
        /* width: 320px; */
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.32px;
        /* margin-left: 20px;
        margin-right: 20px; */
    }
}


.rev-button{
    width: 44px;
    height: 44px;
    background-color: var(--light-green);
    border: none;
    border-radius: 8px;
}

@media only screen and (min-width: 768px) {
.rev-button {
        width: 68px;
        height: 68px;
    }
}

.rev-button:hover, .rev-button:focus{
    background-color: #88B3B9;
}

.rev-button-div{
    display: flex;
    justify-content: flex-end;
}

@media only screen and (min-width: 1280px) {
 .rev-title-div {
    display: flex;
    justify-content: space-between;
 }
}