/* Дмитро */
.rev {
    padding-bottom: 40px;
    padding-top: 40px;
}

@media only screen and (min-width: 768px) {
    .rev {
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

@media only screen and (min-width: 1280px) {
    .rev {
        padding-bottom: 82px;
        padding-top: 82px;
    }
}

.rev-img-wrap {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 18px;
}

picture.rev-img {
    display: block;

}

.rev-img img {
    height: 48px;
    width: 48px;
}

@media only screen and (min-width: 768px) {
    .rev-img img {
        height: 56px;
        width: 56px;
    }
}


.rev-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;
    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
    .rev-title {
        font-size: 32px;
        letter-spacing: -1.44px;
        margin-bottom: 32px;
        max-width: 497px;
    }
}

@media only screen and (min-width: 120px) {
    .rev-title {
        margin-bottom: 0;
    }
}

.rev-span {
    font-style: italic;
    background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;
}

@media only screen and (min-width: 768px) {
    .rev-span {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -1.44px;
    }
}

.rev-text {
    line-height: 1.4;
    letter-spacing: -0.28px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .rev-text {
        width: 273px;
        line-height: 1.4;
        font-size: 16px;
        letter-spacing: -0.32px;
        margin-bottom: 64px;
        margin-right: 0;
        margin-left: auto;
    }
}

@media only screen and (min-width: 1280px) {
    .rev-text {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

.rev-card {
    padding: 24px 14px;
    border-radius: 24px;
    background-color: var(--dark-bg-elements);
}

.rev-card:not(:first-child) {
    display: none;
}

@media only screen and (min-width: 768px) {
    .rev-card {
        width: calc((100% - 16px)/2);

    }
}

@media only screen and (min-width: 1280px) {
    .rev-card {
        width: calc((100% - 64px)/3);

        padding: 32px;
    }
}

@media only screen and (min-width: 768px) {
    .rev-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .rev-list {
        flex-wrap: nowrap;
        gap: 32px;
    }
}

.rev-img {
    width: 96px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
}

.rev-list-title {
    margin-bottom: 8px;
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.72px;
}

@media only screen and (min-width: 768px) {
    .rev-list-title {
        margin-bottom: 8px;
        text-align: center;

        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.81px;
    }
}

.rev-review-paragr {
    max-width: 300px;
    color: rgba(246, 245, 239, 0.50);
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.24px;
}

@media only screen and (min-width: 768px) {
    .rev-review-paragr {
        /* width: 320px; */
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.32px;
        /* margin-left: 20px;
        margin-right: 20px; */

    }
}


.rev-button {
    width: 44px;
    height: 44px;
    background-color: var(--light-green);
    border: none;
    border-radius: 8px;
    position: fixed;
    right: 32px;
    bottom: 332px;
    z-index: 100000;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .rev-button {
        width: 68px;
        height: 68px;
    }
}

.rev-button:hover,
.rev-button:focus {
    background-color: #88B3B9;
}

.rev-button-div {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (min-width: 1280px) {
    .rev-title-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
    }


}